<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89866849302-5vebk979h9pk8073fhtdfa8ii8vud528.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89866849302-5vebk979h9pk8073fhtdfa8ii8vud528</string>
	<key>API_KEY</key>
	<string>AIzaSyBNx_dO0KRVdPlVCs9ehlz_MgtCvKW_F3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>89866849302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vemwaat.iosWaiter</string>
	<key>PROJECT_ID</key>
	<string>ioswaiter</string>
	<key>STORAGE_BUCKET</key>
	<string>ioswaiter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89866849302:ios:6773b57d35115d902eb937</string>
</dict>
</plist>